[submodule "zmk-config-version0.65"]
	path = zmk-config-version0.65
	url = https://github.com/NeerajR18/zmk-config-version0.65.git
[submodule "Firmware"]
	path = Firmware
	url = https://github.com/NeerajR18/zmk-config-version0.65.git
